body{
	background-image : url("Welcom.jpg");
	background-repeat : no-repeat;
	background-size : 100% 345%;
}
h1{
	font-family : "Comic Sans MS", cursive, sans-serif;
	font-size : 70px;
	color : saddlebrown;
	text-align : center;
}
a:link{
	text-decoration : none;
}
